@import "../../styles/mixins";

.single-image-container {
  position: relative;

  overflow: hidden;
  border: 1px solid #d6d6d6;

  .image-placeholder-container {
    display: flex;
    overflow: hidden;
    background-color: #cccccca6;
  }

  .image-height-placeholder {
    height: 0;
    padding-bottom: 75%;
  }

  .single-image {
    width: 100%;
    cursor: pointer;
    background-color: #cccccc;
    @include transform(scale(1));
    @include transition(transform 1s ease);
    &:hover {
        @include transform(scale(1.05))
    }
  }

  .image-details {
    padding: 15px;
  }
}
